body {
    background-color: #e2dcdc;
}

.contain {
    margin-left: 1.1%;
    margin-right: 1.1%;
}

* {
    font-family: Ubuntu;
}

.logo {
    height: 80px;
    width: 80px;
}

.abt_img {
    height: 250px;
    width: 250px;
}

.head {
    background-color: #59626e;
}

#head_nav_link {
    color: white;
}

#head_nav_link:hover {
    color: black;
    font-weight: bold;
    font-family: Ubuntu;
    background-color: #73D216FF;
}

.nav-drop:hover, .prb_sec {
    background-color: #73D216FF;
}

.not {
    word-wrap: break-word;
    min-width: 250px;
    max-width: 400px;
    white-space: normal;
}

.dropdown-pull-right {
    float: center !important;
    right: auto;
    left: auto;
}

.dropdown-pull-right>.dropdown-menu {
    right: auto;
    left: auto;
}

.up-menu:hover, .prb_sec {
    background-color: rgb(49, 202, 29);
}

.file-menu:hover, .prb_sec {
    background-color: rgb(204, 236, 22);
}

.del-menu:hover, .prb_sec {
    background-color: rgb(226, 12, 12);
}

.cont_btn {
    color: black;
    background-color: #73D216FF;
}

.cont_itm {
    color: rgb(241, 239, 239);
}

.contest_butt {
    margin: auto;
}

.reg_box {
    border: 5px;
    border-radius: 20px;
    margin-top: 5%;
    background-color: #D3D7CFFF;
    padding: 3%;
}

.reg_btn, .log_btn {
    display: flex;
}

.image_prof {
    width: 200px;
    height: 200px;
}

.cmnt_image_prof {
    height: 40px;
    width: 40px;
}

.prb_info_tab #tabs {
    background: #007b5e;
    color: #eee;
}

.prb_info_tab #tabs h6.section-title {
    color: #eee;
}

.active {
    color: #387506;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}

.prb_info_tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #067515;
    font-size: 16px;
    font-weight: 600;
}

.prb_info_tab .nav-link:hover {
    border: none;
}

.prb_info_tab thead {
    background: #f3f3f3;
    color: #333;
}

.prb_info_tab a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}